.trial__text-wrapper {
	display: grid;
	grid-template-columns: 650px 1fr;
	column-gap: 80px;
	justify-items: start;
	align-items: end;
}

@media screen and (max-width: 1250px) {
	.trial__text-wrapper {
		grid-template-columns: 400px 1fr;
		column-gap: 50px;
	}
}
