.section__subtitle_modules {
	font-size: 28px;
	line-height: 28px;
	color: #ffffff;
}

@media screen and (max-width: 1200px) {
	.section__subtitle_modules {
		font-size: 26px;
		line-height: 26px;
	}
}

@media screen and (max-width: 1100px) {
	.section__subtitle_modules {
		font-size: 22px;
		line-height: 22px;
	}
}

@media screen and (max-width: 1023px) {
	.section__subtitle_modules {
		font-size: 26px;
		line-height: 26px;
	}
}

@media screen and (max-width: 767px) {
	.section__subtitle_modules {
		font-size: 18px;
		line-height: 20px;
	}
}
