.purchase__wrapper {
	margin: 80px auto 150px;
	max-width: 1184px;
}

@media screen and (max-width: 1250px) {
	.purchase__wrapper {
		max-width: 850px;
		margin: 60px auto 120px;
		padding: 0 30px;
		box-sizing: border-box;
	}
}

@media screen and (max-width: 767px) {
	.purchase__wrapper {
		max-width: 530px;
	}
}
