.section__text_cta {
	margin: 20px 0 0;
}

@media screen and (max-width: 1250px) {
	.section__text_cta {
		margin: 10px 0 0;
	}
}

@media screen and (max-width: 767px) {
	.section__text_cta {
		max-width: 550px;
		text-align: center;
	}
}
