.info__list-wrapper {
	background-color: #ffffff;
	border: 2px solid #4D96FF;
	box-shadow: 5px 5px 0 #4D96FF;
}

@media screen and (max-width: 1023px) {
	.info__list-wrapper {
		box-shadow: 3px 3px 0 #4D96FF;
	}
}

@media screen and (max-width: 767px) {
	.info__list-wrapper {
		max-width: 320px;
	}
}
