.author {
	max-width: 1184px;
	display: grid;
	grid-template-columns: 445px 1fr;
	column-gap: 30px;
	position: relative;
}

@media screen and (max-width: 1250px) {
	.author {
		grid-template-columns: 280px 1fr;
		column-gap: 20px;
		justify-items: start;
	}
}
