.footer__wrapper {
	margin: 60px auto 0;
	max-width: 1184px;
}

@media screen and (max-width: 1250px) {
	.footer__wrapper {
		max-width: 850px;
		margin: 50px auto 0;
		padding: 0 60px;
		box-sizing: border-box;
	}
}

@media screen and (max-width: 767px) {
	.footer__wrapper {
		margin: 40px auto 0;
		padding: 0 25px;
	}
}
