.block {
	padding: 50px;
	background-color: #E8F2FF;
	border-radius: 30px;
	box-shadow: 5px 5px 0 #000000;
}

@media screen and (max-width: 1250px) {
	.block {
		padding: 40px;
	}
}

@media screen and (max-width: 767px) {
	.block {
		padding: 30px;
		border-radius: 25px;
		box-shadow: 4px 4px 0 #000000;
	}
}
