.section__subtitle_cta {
	font-size: 56px;
	line-height: 52px;
}

@media screen and (max-width: 1200px) {
	.section__subtitle_cta {
		font-size: 36px;
		line-height: 42px;
	}
}

@media screen and (max-width: 767px) {
	.section__subtitle_cta {
		font-size: 32px;
		line-height: 32px;
		text-align: center;
	}
}

