.info {
	max-width: 1184px;
	display: grid;
	grid-template-columns: 1fr 400px;
	column-gap: 80px;
}

@media screen and (max-width: 1250px) {
	.info {
		grid-template-columns: 1fr 320px;
		column-gap: 50px;
	}
}

@media screen and (max-width: 767px) {
	.info {
		grid-template-columns: 1fr;
		row-gap: 40px;
	}
}
