@media screen and (max-width: 1200px) {
	.black-button_trial {
		font-size: 14px;
		line-height: 16px;
	}
}

@media screen and (max-width: 1130px) {
	.black-button_trial {
		font-size: 12px;
		line-height: 14px;
		height: 50px;
	}
}
