.trial__list-item {
	background-color: #CEEAA3;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	height: 280px;
	cursor: pointer;
	transition: all .3s ease-out;
	position: relative;
	box-sizing: content-box;
}

.trial__list-item:hover {
	top: 4px;
	left: 3px;
	box-shadow: none;
}

@media screen and (max-width: 767px) {
	.trial__list-item {
		max-width: 300px;
		height: 350px;
		box-sizing: border-box;
	}
}
