.promo__subtitle {
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 42px;
	line-height: 48px;
	font-weight: 500;
	color: #ffffff;
}

@media screen and (max-width: 1250px) {
	.promo__subtitle {
		font-size: 24px;
		line-height: 32px;
	}
}
