.advantages__wrapper {
	margin: 50px 0 0;
	list-style: none;
	background-color: #CEEAA3;
	display: flex;
	flex-direction: row;
	column-gap: 80px;
}

@media screen and (max-width: 1250px) {
	.advantages__wrapper {
		margin: 30px 0 0;
		column-gap: 50px;
	}
}

@media screen and (max-width: 767px) {
	.advantages__wrapper {
		flex-direction: column;
		row-gap: 40px;
		max-width: 250px;
	}
}
