.author__illustration {
	display: none;
	position: absolute;
	top: 430px;
	right: -65px;
	width: 200px;
	height: 190px;
	transform: rotate(-30deg);
}

@media screen and (max-width: 1250px) {
	.author__illustration {
		display: none;
	}
}
