.block_trial {
	padding: 45px;
}

@media screen and (max-width: 1200px) {
	.block_trial {
		padding: 50px 40px;
	}
}

@media screen and (max-width: 1100px) {
	.block_trial {
		padding: 40px 35px;
	}
}
