.header__wrapper {
	margin: 0 auto;
	max-width: 1184px;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ffffff;
	box-sizing: border-box;
}

@media screen and (max-width: 1250px) {
	.header__wrapper {
		max-width: 850px;
		margin: 0 auto;
	}
}
