.promo__title {
	margin: 30px 0 0;
	padding: 0;
	text-align: left;
	font-size: 64px;
	line-height: 72px;
	font-weight: 500;
	color: #ffffff;
	font-family: 'Unbounded', Arial, sans-serif;
	white-space: pre-wrap;
}

@media screen and (max-width: 1200px) {
	.promo__title {
		margin: 20px 0 0;
		font-size: 48px;
		line-height: 52px;
	}
}

@media screen and (max-width: 1023px) {
	.promo__title {
		margin: 20px 0 0;
		font-size: 40px;
		line-height: 42px;
	}
}

@media screen and (max-width: 767px) {
	.promo__title {
		text-align: center;
	}
}

@media screen and (max-width: 534px) {
	.promo__title {
		font-size: 32px;
		line-height: 34px;
	}
}
