.section__text {
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
	color: #000000;
	font-family: 'Inter', Arial, sans-serif;
	white-space: pre-wrap;
}

@media screen and (max-width: 1250px) {
	.section__text {
		font-size: 14px;
		line-height: 20px;
	}
}

@media screen and (max-width: 767px) {
	.section__text {
		font-size: 12px;
		line-height: 18px;
	}
}
