.promo__image {
	position: absolute;
	top: -35px;
	right: 70px;
	width: 360px;
	height: 500px;
}

@media screen and (max-width: 1250px) {
	.promo__image {
		width: 260px;
		height: 363px;
		top: -30px;
		right: 30px;
	}
}

@media screen and (max-width: 767px) {
	.promo__image {
		display: none;
	}
}
