.purchase__cta-wrapper {
	display: grid;
	grid-template-columns: 500px 1fr;
	column-gap: 60px;
	align-items: center;
}

@media screen and (max-width: 1200px) {
	.purchase__cta-wrapper {
		grid-template-columns: 400px 1fr;
	}
}

@media screen and (max-width: 1023px) {
	.purchase__cta-wrapper {
		grid-template-columns: 300px 1fr;
	}
}

@media screen and (max-width: 767px) {
	.purchase__cta-wrapper {
		grid-template-columns: 1fr;
		justify-content: center;
		justify-items: center;
	}
}
