.purchase__cta-wrapper {
	display: grid;
	grid-template-columns: 600px 1fr;
	column-gap: 80px;
}

@media screen and (max-width: 1250px) {
	.purchase__cta-wrapper {
		margin: 0;
		grid-template-columns: 300px 1fr;
		column-gap: 50px;
	}
}
