.author__achievements {
	margin: 70px 0 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: 210px 210px;
	column-gap: 80px;
	row-gap: 60px;
}

@media screen and (max-width: 1250px) {
	.author__achievements {
		margin: 50px 0 0;
		grid-template-columns: repeat(2, 140px);
		column-gap: 40px;
		row-gap: 35px;
	}
}

/*@media screen and (max-width: 767px) {*/
/*	.author__achievements {*/
/*		margin: 40px 0 0;*/
/*		grid-template-columns: repeat(2, 112px);*/
/*		column-gap: 25px;*/
/*		row-gap: 35px;*/
/*	}*/
/*}*/
