.button {
	margin: 0;
	padding: 0;
	cursor: pointer;
	transition: all .3s ease-out;
	position: relative;
	box-shadow: 3px 4px 0 #000000;
	border-style: none;
	text-align: center;
	font-weight: 400;
	font-family: 'Unbounded', Arial, sans-serif;
}

.button:hover {
	top: 4px;
	left: 3px;
	box-shadow: none;
}
