.promo__text {
	margin: 20px 0 0;
	padding: 0;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	font-family: 'Unbounded', Arial, sans-serif;
}

@media screen and (max-width: 1250px) {
	.promo__text {
		margin: 15px 0 0;
		font-size: 14px;
		line-height: 18px;
	}
}

@media screen and (max-width: 767px) {
	.promo__text {
		margin: 10px 0 0;
		font-size: 12px;
		line-height: 16px;
	}
}
